@model List<LeagueMVCProject.Models.EntityFramework.Fixtures>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a class="btn btn-success" href="/Fixture/Yeni">NewFixture</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>HomeTeamId</th>
            <th>GuestTeamId</th>
            <th>MatchDate</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fixture in Model)
        {
        <tr>
            <td>@fixture.Id</td>
            <td>@fixture.Teams.TeamName</td>
            <td>@fixture.Teams1.TeamName</td>
            <td>@fixture.MatchDate</td>
            <td><a class="btn btn-primary" href="/Fixture/Update/@fixture.Id">Update</a></td>
            <td><a class="btn btn-warning" href="/Fixture/Delete/@fixture.Id">Delete</a></td>
        </tr>
        }
    </tbody>
</table>
