
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">LeagueWebSite</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="League">League</a></li>
            <li><a href="Team">Team</a></li>
            <li><a href="Fixture">Fixture</a></li>
            <li><a href="Player">Player</a></li>
            <li><a href="/Security/Logout">Çıkış yap</a></li>
        </ul>
    </div>
</nav>
